body{
  font-family: 'Roboto', sans-serif;
  padding-top: 10px;
  padding-bottom: 40px;
}
a{
  text-decoration: none !important;
  cursor: pointer;
}
textarea:focus, input:focus{
  outline: none;
}
.nav-toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;

}

.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  border-radius: 2px;
  height: 5px;
  width: 35px;
  background: #000000;
  position: absolute;
  display: block;
  content: "";
  transition: all 0.3s ease-in-out;
  &.active {
    top: 0;
  }
}

.nav-toggle span:before {
  top: -10px;
}

.nav-toggle span:after {
  bottom: -10px;
}

.nav-toggle.active span {
  background-color: transparent;
  &:before {
    top: 0;
    transform: rotate(45deg);
  }
  &:after {
    bottom: 0;
    transform: rotate(-45deg);
  }
}




$size: 50px;
$color: #333;

// Duration needs to be set in JS as well
// .3s (css) = 300 (js)
$duration: .3s;

.o-c {
  appearance: none;
  border: none;
  border-radius: 0;
  display: inline-block;
  position: relative;
  backface-visibility: hidden;
  cursor: pointer;
  &, &:before, &:after {
    background: $color;
    width: $size;
    height: $size/12;
    display: block;
    transition: all $duration;
  }
  & {
    transition: all 0  $duration;
  }
  &:before, &:after {
    content: '';
    position: absolute;
  }
  &:focus {
    outline: none;
  }
}

/**
 * Nav Transform
 */
.o-c.nav {
  &, &:before, &:after { transition-timing-function: cubic-bezier(.71,.23,.62,1.6); }
  &:before { transform: translateY(-$size/3); }
  &:after  { transform: translateY($size/3); }
}

/**
 * Cross Transform
 */
.o-c.cross {
  background: transparent;
  //transform: rotate(360deg);
  & {
    transition: all 0;
  }
  transition-timing-function: ease-out;
  &:before { transform: rotate(45deg); }
  &:after  { transform: rotate(-45deg); }
}

/**
 * Expand the clickable area
 */
label {
  padding: $size/3 0;
  cursor: pointer;
  display: block;
}
.navbar {
  background: rgba(255, 255, 255, .95);
  margin-bottom: 10px;
  .top-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    .desktop-menu{
      li{
        border-right:2px solid #F5F5F5;
        &:last-child{
          border-right:0px;
        }
        a{
          font-weight: 200;
          font-size: 20px;
          color:rgb(108, 122, 137);
        }
      }
    }
  }
  .dropdown .dropdown-menu {
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    top:150%;
    right:0;
    padding: 5px;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dropdown.open .dropdown-menu {
    max-height: 290px;
    opacity: 1;
  }
  li {
    a {
      padding: 10px 35px 10px 35px;
      border-radius: 3px;
    }
    .log-in-btn{
      border: 1px solid #e7434e;
    }
    .sign-in-btn{
      color: #FFFFFF;
      background-color: #F45402;
    }
  }
  .main-menu{
    margin-top: 5px;
    padding-top: 1%;

    li{
      a{
        color: #999;
        padding: 15px 25px;
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
}

.pack-badge{
  position: relative;
  left: -15px;
  top: -6px;
  background-color: #e40134;;
}
.pack{
  display: inline-block;
  min-width: 10px;
  padding: 9px 9px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;

  border-radius: 10px;
}
.navbar-pack{
  a{
    img{
      height: 56px;
      width: 51px;
    }
  }
}
.navbar-logo{
  img{
    height: 56px;
    width: 192px;
  }
}
.search-container{
  position: relative;
  //background-image: url('../images/sunset-tobago-pigeon-point-art-wallpapers-vector-travel-225695.jpg');
  background-position: 50% 50%;
  background-size: cover;
  height: auto;
  margin-top: 60px;
  h1{
    color: #ffffff;
    font-size: 60px;
    margin-top: 70px;
  }
  h3{
    color: #ffffff;
  }
  .search-form{
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    form{
      display: flex;
      position: relative;
      input[type="text"] {
        position: relative;
        height: 60px;
        border: none;
        width: 100%;
        padding-left: 5%;
        color: #404040;
        font-size: 18px;
      }
      #tour-date, #guests-number{
        background-color: #ffffff;
        border: 0px;
      }
      #tour-date{
        position: absolute;
        top: 0px;
        right:30%;
        height: 60px;
      }
      #guests-number{
        position: absolute;
        top: 0px;
        right:17.3%;
        height: 60px;
      }
      button {
        position: absolute;
        right: 0px;
        margin-left: -150px;
        height: 60px;
        width: 197px;
        color: white;
        border: none;
        background-color: #e40134;
      }
      .mobile-select{
        display: none;
        border-top: 1px solid #999;
        #mobile-guests-number, #mobile-tour-date{
          background-color: #ffffff;
          border: 0px;
        }
        #mobile-tour-date{
          border-right: 1px solid #999;
        }
      }
      .btn {
        border-radius: 0px;
      }
    }
  }
}

.top-destionations{
  padding-top: 50px;
  .text-left{
    padding-left: 15px;
    color: #FFFFFF;
  }
  .item{
    position: relative;
  }
  .img-single{
    img{
      object-fit: cover;
      height: 150px;
      width: 100%;
      opacity: 1;
      transition: opacity .5s;
    }
  }
  .img-double{
    img{
      height: 325px;
      width: 100%;
      opacity: 1;
      transition: opacity .5s;
    }
  }
  .top-destionations-countries{
    &:hover{
      .img-responsive{
        opacity: .5;
      }
    }
    margin-bottom: 10%;
    a{
      color: #ffffff;
      h3{
        position: absolute;
        top: 25%;
        right:35%;
        z-index:1000;
      }
    }
    .item-hidden{
      display: none;
    }
    .tour-price{
      position: absolute;
      top: 15px;
      left: 25px;
      overflow: hidden;
      z-index: 10001;
      border-radius: 5px;
      p{
        background-color: #7f8c8d;
        padding: 4px 10px;
        color: #fff;
        font-weight: 600;
      }
    }
    .book-btn{
      position: absolute;
      bottom: 20px;
      left: 25px;
      overflow: hidden;
      z-index: 10001;
      color: #333;
    }
  }
}
.content-slider{
  .carousel-inner{
    .item{
      .carousel-caption {
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        h1{
          font-weight: 200;
          font-size: 80px;
        }
        .btn{
          padding: 20px;
          background-color: #e40134;;
          border: none;
          border-radius: 0px;
        }
      }
      img{
        max-height: 800px;
        width: 100%;
      }
    }
  }
  .carousel-control.left, .carousel-control.right {
    background-image: none;
  }
}
.content-blog-block{
  //background-color: #F2F2F2;
  padding-bottom: 5%;
  h2{
    color: #FFFFFF;
  }
  .blog-posts{
    padding-top: 5%;
    text-align: center;
    .post-1{
      background-image: url("../images/StMoritz_iStock_CarLPM_www.istockphoto-1024x682.jpg");
      background-size: cover;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      color:#FFFFFF;
      padding: 5px;
      cursor: pointer;
      &:hover{
        opacity: .5;
      }
    }
    .post-2{
      background-image: url("../images/orig_514220.jpg");
      background-size: cover;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      color:#FFFFFF;
      padding: 5px;
      cursor: pointer;
      &:hover{
        opacity: .5;
      }
    }
    .post-3{
      background-image: url("../images/Bled_iStock_MistikaS_www.istockphoto-1024x682.jpg");
      background-size: cover;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      color:#FFFFFF;
      padding: 5px;
      cursor: pointer;
      cursor: pointer;
      &:hover{
        opacity: .5;
      }
    }

    button{
      margin-top: 5%;
      background-color: #e40134;
      color: #FFFFFF;
      font-weight: 500;
      border: 1px solid #e40134;
      padding: 10px 25px;
      border-radius: 0px;
      &:hover{
        background-color: transparent;
        color: #FFFFFF;
      }
    }
  }
}
.map-wrapper{
  h3{
    color: #FFFFFF;
  }
}
#map {
  height: 900px;
  width: 100%;
  margin-bottom: 2%;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  a{
    color: #FFFFFF;
    font-weight: 200;
  }
  .social-btn{
    a:hover{
      color: #e7434e;
    }
  }
}
.company-name{
  color: #FFFFFF;
}
.cover {
  width: 100%;
  height: 100%;

  .hi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    color: #fff;

    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    line-height: 26px;
    text-align: center;

    span {
      color: #ff0;
      cursor: pointer;
      text-decoration: underline;
    }

    em {
      font-style: normal;

      &:hidden {
        display: none;
      }
    }
  }
}


@media screen and (max-width: 1199px) {
  .search-container{
    .search-form{
      form{
        #tour-date{
          position: absolute;
          top: 0px;
          right:35%;
          height: 60px;
        }
        #guests-number{
          position: absolute;
          top: 0px;
          right:25%;
          height: 60px;
        }
      }
    }
  }
  .top-destionations{
    .item{
      position: relative;
    }
    .img-single{
      img{
        height: 450px;
      }
    }
    .img-double{
      img{
        height: 450px;
      }
    }
    .top-destionations-countries{
      a{
        h3{
          position: absolute;
          top: 35%;
          right:30%;
          z-index:1000;
          font-size: 50px;
        }
      }
      .item-hidden{
        display: none;
      }
    }
    .img-double{
      a {
        h3 {

          right: 40%;
        }
      }
    }
  }
}
@media screen and (max-width: 991px){
  .search-container{
    .search-form{
      form{
        #tour-date{
          position: absolute;
          top: 0px;
          right:33%;
          height: 60px;
        }
        #guests-number{
          right:22%;
        }
        button{
          width: 150px;
        }
      }
    }
  }
  .top-destionations{
    .top-destionations-countries{
      a{
        h3{
          top: 39%;
          right:35%;
          font-size: 35px;
        }
      }
    }
    .img-double{
      a {
        h3 {

          right: 40%;
        }
      }
    }
  }
}
@media screen and (max-width: 875px) {
   .content-slider{
    .carousel-inner{
      .item{
        .carousel-caption{
          h1{
            font-size: 60px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px){
  .navbar{
    .top-navbar{
    }
  }
  .desktop-menu{
    display: none;
  }
  .navbar-toggle{
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
    padding-left: 10px;
  }
  .top-destionations{
    .top-destionations-countries{
      a{
        h3{
          top: 39%;
          right:40%;
          font-size: 35px;
        }
      }
    }
    .img-double{
      a {
        h3 {

          right: 40%;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .search-container{
    .search-form{
      form{
        flex-direction: column;
        #tour-date{
          display: none;
        }
        #guests-number{
          display: none;
        }
        button{
          width: 100px;
        }
        .mobile-select{
          display: flex;
          width: 100%;
          #mobile-tour-date, #mobile-guests-number{
            width: 50%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .navbar-logo{
      img{
        width: 130px;
        margin-left: 20%;
    }
  }
  .navbar-pack{
    a{
      img{
        height: 46px;
        width: 40px;
      }
    }
  }
  .top-destionations{
    .top-destionations-countries{
      a{
        h3{
          top: 39%;
          right:33%;
          font-size: 35px;
        }
      }
    }
    .img-double{
      a {
        h3 {

          right: 40%;
        }
      }
    }
  }
  .content-slider{
    .carousel-indicators{
      bottom: 0px;
    }
    .carousel-inner{
      .item{
        .carousel-caption{
          h1{
            font-size: 30px;
          }
          .btn{
            padding: 8px;
          }
        }
      }
    }
  }
  .top-destionations {
    .item {
      position: relative;
    }
    .img-single {
      img {
        height: 300px;
      }
    }
    .img-double {
      img {
        height: 300px;
      }
    }
    .text-left{
      font-size: 25px;
    }
  }
  .search-container{
    h1{
      font-size: 40px;
    }
    .search-form{
      form{
        flex-direction: column;
        #tour-date{
          display: none;
        }
        input[type="text"] {
          position: relative;
          height: 40px;
          border: none;
          width: 100%;
          padding-left: 5%;
          color: #404040;
          font-size: 18px;
        }
        #guests-number{
          display: none;
        }
        button{
          width: 100px;
          height: 40px;

        }
        .mobile-select{
          display: flex;
          width: 100%;
          flex-direction: column;
          #mobile-tour-date, #mobile-guests-number{
            width: 100%;
            margin-bottom: 5px;
            height: 30px;
          }
        }
      }
    }
  }
  .social-btn{
    text-align: center;
  }
}





